@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-full-calendar {
  font-family: $font-family-base;
  &.freud-bgcolor {
    .fc-toolbar-title {
      @include typography(30px, $font-weight-semibold, 36px);
      color: $neutral-color-white;
    }
  }
  &:not(.freud-bgcolor) {
    .fc-toolbar-title {
      @include typography(30px, $font-weight-semibold, 36px);
      color: $neutral-color-dark-04;
    }

    .fc.fc-theme-standard .fc-toolbar {
      .fc-prev-button,
      .fc-next-button,
      .fc-today-button.fc-button {
        background-color: $brand-color-pure;
        border-color: $brand-color-pure;
        color: $neutral-color-white;
        &:focus {
          box-shadow: unset;
        }
      }
      .fc-today-button.fc-button {
        border-radius: $border-radius-md;
      }

      .fc-button.fc-dayGridMonth-button,
      .fc-button.fc-timeGridWeek-button,
      .fc-button.fc-timeGridDay-button {
        background-color: $neutral-color-white;
        border-color: $neutral-color-light-04;
        color: $neutral-color-dark-03;
        &.fc-button-active {
          background-color: $brand-color-pure;
          border-color: $brand-color-pure;
          color: $neutral-color-white;
        }
        &:focus {
          box-shadow: unset;
        }
      }
    }
  }
  .fc.fc-theme-standard .fc-toolbar .fc-button {
    @include typography($font-size-xxs, $font-weight-bold, $font-size-xxs);
    height: 40px;
  }
  .fc.fc-theme-standard .fc-toolbar .fc-today-button.fc-button {
    @include typography($font-size-xs, $font-weight-semibold, auto);
  }

  .fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
    border-top-left-radius: $border-radius-md;
    border-bottom-left-radius: $border-radius-md;
  }
  .fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:last-child {
    border-top-right-radius: $border-radius-md;
    border-bottom-right-radius: $border-radius-md;
  }

  .fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
    border-radius: 0;
    background-color: $brand-color-pure;
    border-color: $brand-color-pure;
    color: $neutral-color-white;
    padding-left: 4px;
    @include typography($font-size-xxxs, $font-weight-regular, 14.4px);
  }

  .fc.fc-theme-standard .fc-toolbar .fc-button:not(:disabled):hover {
    background: $brand-color-01;
    border-color: $brand-color-01;
    color: $brand-color-pure;
  }
}
