@import '../../../../../../../tokens/dist/style/scss/variables';

@keyframes freud-progress-spinner-color {
  100%,
  0% {
    stroke: $feedback-color-negative-03;
  }
  33% {
    stroke: $feedback-color-warning-03;
  }
  66% {
    stroke: $feedback-color-positive-03;
  }
}

.freud-progress-spinner .p-progress-spinner-circle {
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite,
    freud-progress-spinner-color 6s ease-in-out infinite;
}
