@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-input-password:not(.freud-bgcolor) {
  .freud-label {
    color: $neutral-color-dark-04;
  }
}

.freud-input-password.freud-bgcolor {
  .freud-label {
    color: $neutral-color-white;
  }
}

.freud-input-password {
  .freud-field {
    display: flex;
    flex-flow: column;
  }
  .freud-label {
    margin-bottom: $spacing-size-quark;
  }

  .p-password {
    width: 100%;
  }

  hr {
    border: 1px solid $neutral-color-light-03;
  }

  .p-inputtext {
    height: 40px;
    border-radius: $border-radius-md;
    border: 1px solid $neutral-color-light-03;
    width: 100%;
    &::placeholder {
      color: $neutral-color-dark-02;
      opacity: 1;
      @include typography($font-size-xs, $font-weight-regular, 24px);
    }
  }

  p-password.ng-invalid .p-inputtext {
    border: 1px solid $feedback-color-negative-04;
    &::placeholder {
      color: $feedback-color-negative-04;
      opacity: 1;
      @include typography($font-size-xs, $font-weight-regular, 24px);
    }
  }

  .p-inputtext:enabled:focus {
    box-shadow: $shadow-focused-zen;
    border-color: $brand-color-pure;
  }

  .p-inputtext:enabled:hover {
    border-color: $brand-color-pure;
  }

  .p-password-panel {
    border-radius: $border-radius-md;
    @include typography($font-size-xs, $font-weight-regular, 24px);
    color: $neutral-color-dark-03;
    box-shadow: $shadow-level-3;
  }

  .p-password-panel .p-password-meter {
    margin-bottom: 0.5rem;
    background: $neutral-color-light-03;
  }
  .p-password-panel .p-password-meter .p-password-strength.weak {
    background: $feedback-color-negative-03;
  }
  .p-password-panel .p-password-meter .p-password-strength.medium {
    background: $feedback-color-warning-03;
  }
  .p-password-panel .p-password-meter .p-password-strength.strong {
    background: $feedback-color-positive-03;
  }
}
