@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-table {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-header {
    color: $neutral-color-dark-03;
    @include typography($font-size-xs, $font-weight-bold, auto);
  }

  .p-datatable .p-datatable-tbody > tr > td,
  .p-datatable .p-datatable-footer {
    color: $neutral-color-dark-02;
    @include typography($font-size-xs, $font-weight-regular, auto);
  }

  .p-datatable .p-sortable-column.p-highlight:hover,
  .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: $brand-color-pure;
  }

  .p-datatable .p-sortable-column:focus {
    box-shadow: unset;
  }

}
