@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-tooltip-container {
  display: inline-block;
  position: relative;
}

.p-tooltip {
  .p-tooltip-text {
    padding: 10.5px;
    color: $neutral-color-white;
    @include typography($font-size-xs, $font-weight-regular, 24px);
    border-radius: $border-radius-md;
    background-color: $neutral-color-dark-03;
    box-shadow: $shadow-level-3;
  }
}

.p-tooltip.freud-bg-color {
  &.p-tooltip-right .p-tooltip-arrow {
    border-right-color: $neutral-color-white;
  }
  &.p-tooltip-left .p-tooltip-arrow {
    border-left-color: $neutral-color-white;
  }
  &.p-tooltip-top .p-tooltip-arrow {
    border-top-color: $neutral-color-white;
  }
  &.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: $neutral-color-white;
  }

  .p-tooltip-text {
    color: $neutral-color-dark-03;
    background-color: $neutral-color-white;
  }
}
