@font-face {
  font-family: 'Freud Icon';
  src:  url('../fonts/freud-icon.eot?xedxxj');
  src:  url('../fonts/freud-icon.eot?xedxxj#iefix') format('embedded-opentype'),
    url('../fonts/freud-icon.ttf?xedxxj') format('truetype'),
    url('../fonts/freud-icon.woff?xedxxj') format('woff'),
    url('../fonts/freud-icon.svg?xedxxj#Freud-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="freud-icon-"], [class*=" freud-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Freud Icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.freud-icon-accessible:before {
  content: "\e900";
}
.freud-icon-adjustments-horizontal:before {
  content: "\e901";
}
.freud-icon-adjustments:before {
  content: "\e902";
}
.freud-icon-alert-circle:before {
  content: "\e903";
}
.freud-icon-alert-octagon:before {
  content: "\e904";
}
.freud-icon-align-center:before {
  content: "\e905";
}
.freud-icon-align-justify:before {
  content: "\e906";
}
.freud-icon-align-left:before {
  content: "\e907";
}
.freud-icon-align-right:before {
  content: "\e908";
}
.freud-icon-angle-double-down:before {
  content: "\e909";
}
.freud-icon-angle-double-left:before {
  content: "\e90a";
}
.freud-icon-angle-double-right:before {
  content: "\e90b";
}
.freud-icon-angle-double-up:before {
  content: "\e90c";
}
.freud-icon-apps:before {
  content: "\e90d";
}
.freud-icon-archive:before {
  content: "\e90e";
}
.freud-icon-arrow-circle-down:before {
  content: "\e90f";
}
.freud-icon-arrow-circle-left:before {
  content: "\e910";
}
.freud-icon-arrow-circle-right:before {
  content: "\e911";
}
.freud-icon-arrow-circle-up:before {
  content: "\e912";
}
.freud-icon-arrow-down-circle:before {
  content: "\e913";
}
.freud-icon-arrow-down-left-circle:before {
  content: "\e914";
}
.freud-icon-arrow-down-left:before {
  content: "\e915";
}
.freud-icon-arrow-down-right-circle:before {
  content: "\e916";
}
.freud-icon-arrow-down-right:before {
  content: "\e917";
}
.freud-icon-arrow-down:before {
  content: "\e918";
}
.freud-icon-arrow-left:before {
  content: "\e919";
}
.freud-icon-arrow-right-arrow-left:before {
  content: "\e91a";
}
.freud-icon-arrow-right:before {
  content: "\e91b";
}
.freud-icon-arrow-up-circle:before {
  content: "\e91c";
}
.freud-icon-arrow-up-left-circle:before {
  content: "\e91d";
}
.freud-icon-arrow-up-left:before {
  content: "\e91e";
}
.freud-icon-arrow-up-right-circle:before {
  content: "\e91f";
}
.freud-icon-arrow-up-right:before {
  content: "\e920";
}
.freud-icon-arrow-up:before {
  content: "\e921";
}
.freud-icon-arrows-alt:before {
  content: "\e922";
}
.freud-icon-arrows-h:before {
  content: "\e923";
}
.freud-icon-arrows-right-left:before {
  content: "\e924";
}
.freud-icon-arrows-v:before {
  content: "\e925";
}
.freud-icon-at:before {
  content: "\e926";
}
.freud-icon-award:before {
  content: "\e927";
}
.freud-icon-backward:before {
  content: "\e928";
}
.freud-icon-ballon:before {
  content: "\e929";
}
.freud-icon-ban:before {
  content: "\e92a";
}
.freud-icon-bandage:before {
  content: "\e92b";
}
.freud-icon-barcode:before {
  content: "\e92c";
}
.freud-icon-bars:before {
  content: "\e92d";
}
.freud-icon-beach:before {
  content: "\e92e";
}
.freud-icon-bell-off:before {
  content: "\e92f";
}
.freud-icon-bell-ringing:before {
  content: "\e930";
}
.freud-icon-bell:before {
  content: "\e931";
}
.freud-icon-bitcoin:before {
  content: "\e932";
}
.freud-icon-bolt:before {
  content: "\e933";
}
.freud-icon-book:before {
  content: "\e934";
}
.freud-icon-bookmark-fill:before {
  content: "\e935";
}
.freud-icon-bookmark-off:before {
  content: "\e936";
}
.freud-icon-bookmark:before {
  content: "\e937";
}
.freud-icon-box:before {
  content: "\e938";
}
.freud-icon-brand-android:before {
  content: "\e939";
}
.freud-icon-brand-apple:before {
  content: "\e93a";
}
.freud-icon-brand-facebook:before {
  content: "\e93b";
}
.freud-icon-brand-figma:before {
  content: "\e93c";
}
.freud-icon-brand-github:before {
  content: "\e93d";
}
.freud-icon-brand-google-drive:before {
  content: "\e93e";
}
.freud-icon-brand-google-play:before {
  content: "\e93f";
}
.freud-icon-brand-instagram:before {
  content: "\e940";
}
.freud-icon-brand-linkedin:before {
  content: "\e941";
}
.freud-icon-brand-netflix:before {
  content: "\e942";
}
.freud-icon-brand-twitter:before {
  content: "\e943";
}
.freud-icon-brand-whatsapp:before {
  content: "\e944";
}
.freud-icon-brand-youtube:before {
  content: "\e945";
}
.freud-icon-briefcase:before {
  content: "\e946";
}
.freud-icon-browser:before {
  content: "\e947";
}
.freud-icon-building-bank:before {
  content: "\e948";
}
.freud-icon-building-castle:before {
  content: "\e949";
}
.freud-icon-building-church:before {
  content: "\e94a";
}
.freud-icon-building-community:before {
  content: "\e94b";
}
.freud-icon-building-cottage:before {
  content: "\e94c";
}
.freud-icon-building-factory:before {
  content: "\e94d";
}
.freud-icon-building-fortress:before {
  content: "\e94e";
}
.freud-icon-building-hospital:before {
  content: "\e94f";
}
.freud-icon-building-pavilon:before {
  content: "\e950";
}
.freud-icon-building-skyscraper:before {
  content: "\e951";
}
.freud-icon-building-store:before {
  content: "\e952";
}
.freud-icon-building-warehouse:before {
  content: "\e953";
}
.freud-icon-building:before {
  content: "\e954";
}
.freud-icon-bulb:before {
  content: "\e955";
}
.freud-icon-businessplan:before {
  content: "\e956";
}
.freud-icon-calculator:before {
  content: "\e957";
}
.freud-icon-calendar-event:before {
  content: "\e958";
}
.freud-icon-calendar-minus:before {
  content: "\e959";
}
.freud-icon-calendar-plus:before {
  content: "\e95a";
}
.freud-icon-calendar-time:before {
  content: "\e95b";
}
.freud-icon-calendar-times:before {
  content: "\e95c";
}
.freud-icon-calendar:before {
  content: "\e95d";
}
.freud-icon-camera-off:before {
  content: "\e95e";
}
.freud-icon-camera:before {
  content: "\e95f";
}
.freud-icon-car:before {
  content: "\e960";
}
.freud-icon-caret-down:before {
  content: "\e961";
}
.freud-icon-caret-left:before {
  content: "\e962";
}
.freud-icon-caret-right:before {
  content: "\e963";
}
.freud-icon-caret-up:before {
  content: "\e964";
}
.freud-icon-cart-plus:before {
  content: "\e965";
}
.freud-icon-certificate:before {
  content: "\e966";
}
.freud-icon-chart-bar-2:before {
  content: "\e967";
}
.freud-icon-chart-bar:before {
  content: "\e968";
}
.freud-icon-chart-line:before {
  content: "\e969";
}
.freud-icon-chart-pie-2:before {
  content: "\e96a";
}
.freud-icon-chart-pie:before {
  content: "\e96b";
}
.freud-icon-check-circle:before {
  content: "\e96c";
}
.freud-icon-check-square:before {
  content: "\e96d";
}
.freud-icon-check:before {
  content: "\e96e";
}
.freud-icon-chevron-circle-down:before {
  content: "\e96f";
}
.freud-icon-chevron-circle-left:before {
  content: "\e970";
}
.freud-icon-chevron-circle-right:before {
  content: "\e971";
}
.freud-icon-chevron-circle-up:before {
  content: "\e972";
}
.freud-icon-chevron-down:before {
  content: "\e973";
}
.freud-icon-chevron-left:before {
  content: "\e974";
}
.freud-icon-chevron-right:before {
  content: "\e975";
}
.freud-icon-chevron-up:before {
  content: "\e976";
}
.freud-icon-circle-check:before {
  content: "\e977";
}
.freud-icon-circle-fill:before {
  content: "\e978";
}
.freud-icon-circle-minus:before {
  content: "\e979";
}
.freud-icon-circle-plus:before {
  content: "\e97a";
}
.freud-icon-circle-x:before {
  content: "\e97b";
}
.freud-icon-circle:before {
  content: "\e97c";
}
.freud-icon-clipboard-check:before {
  content: "\e97d";
}
.freud-icon-clipboard-list:before {
  content: "\e97e";
}
.freud-icon-clipboard-x:before {
  content: "\e97f";
}
.freud-icon-clock:before {
  content: "\e980";
}
.freud-icon-clone:before {
  content: "\e981";
}
.freud-icon-close:before {
  content: "\e982";
}
.freud-icon-cloud-download:before {
  content: "\e983";
}
.freud-icon-cloud-rain:before {
  content: "\e984";
}
.freud-icon-cloud-storm:before {
  content: "\e985";
}
.freud-icon-cloud-upload:before {
  content: "\e986";
}
.freud-icon-cloud:before {
  content: "\e987";
}
.freud-icon-code:before {
  content: "\e988";
}
.freud-icon-coffee:before {
  content: "\e989";
}
.freud-icon-cog:before {
  content: "\e98a";
}
.freud-icon-coin:before {
  content: "\e98b";
}
.freud-icon-comment:before {
  content: "\e98c";
}
.freud-icon-comments:before {
  content: "\e98d";
}
.freud-icon-compass:before {
  content: "\e98e";
}
.freud-icon-copy:before {
  content: "\e98f";
}
.freud-icon-credit-card:before {
  content: "\e990";
}
.freud-icon-currency-dollar:before {
  content: "\e991";
}
.freud-icon-database:before {
  content: "\e992";
}
.freud-icon-delete-left:before {
  content: "\e993";
}
.freud-icon-desktop:before {
  content: "\e994";
}
.freud-icon-device-desktop:before {
  content: "\e995";
}
.freud-icon-device-laptop:before {
  content: "\e996";
}
.freud-icon-device-mobile:before {
  content: "\e997";
}
.freud-icon-device-tablet:before {
  content: "\e998";
}
.freud-icon-device-tv:before {
  content: "\e999";
}
.freud-icon-device-watch:before {
  content: "\e99a";
}
.freud-icon-devices-2:before {
  content: "\e99b";
}
.freud-icon-devices-pc:before {
  content: "\e99c";
}
.freud-icon-devices:before {
  content: "\e99d";
}
.freud-icon-diamond:before {
  content: "\e99e";
}
.freud-icon-directions-alt:before {
  content: "\e99f";
}
.freud-icon-directions:before {
  content: "\e9a0";
}
.freud-icon-disabled:before {
  content: "\e9a1";
}
.freud-icon-discount-2:before {
  content: "\e9a2";
}
.freud-icon-discount:before {
  content: "\e9a3";
}
.freud-icon-dollar:before {
  content: "\e9a4";
}
.freud-icon-dots-vertical:before {
  content: "\e9a5";
}
.freud-icon-dots:before {
  content: "\e9a6";
}
.freud-icon-download:before {
  content: "\e9a7";
}
.freud-icon-edit:before {
  content: "\e9a8";
}
.freud-icon-eject:before {
  content: "\e9a9";
}
.freud-icon-ellipsis-h:before {
  content: "\e9aa";
}
.freud-icon-ellipsis-v:before {
  content: "\e9ab";
}
.freud-icon-envelope:before {
  content: "\e9ac";
}
.freud-icon-eraser:before {
  content: "\e9ad";
}
.freud-icon-euro:before {
  content: "\e9ae";
}
.freud-icon-exclamation-circle:before {
  content: "\e9af";
}
.freud-icon-exclamation-triangle:before {
  content: "\e9b0";
}
.freud-icon-external-link:before {
  content: "\e9b1";
}
.freud-icon-eye-off:before {
  content: "\e9b2";
}
.freud-icon-eye-slash:before {
  content: "\e9b3";
}
.freud-icon-eye:before {
  content: "\e9b4";
}
.freud-icon-face-id:before {
  content: "\e9b5";
}
.freud-icon-fast-backward:before {
  content: "\e9b6";
}
.freud-icon-fast-forward:before {
  content: "\e9b7";
}
.freud-icon-file-certificate:before {
  content: "\e9b8";
}
.freud-icon-file-edit:before {
  content: "\e9b9";
}
.freud-icon-file-excel:before {
  content: "\e9ba";
}
.freud-icon-file-export:before {
  content: "\e9bb";
}
.freud-icon-file-import:before {
  content: "\e9bc";
}
.freud-icon-file-o:before {
  content: "\e9bd";
}
.freud-icon-file-pdf:before {
  content: "\e9be";
}
.freud-icon-file-text:before {
  content: "\e9bf";
}
.freud-icon-file-word:before {
  content: "\e9c0";
}
.freud-icon-file:before {
  content: "\e9c1";
}
.freud-icon-filter-fill:before {
  content: "\e9c2";
}
.freud-icon-filter-off:before {
  content: "\e9c3";
}
.freud-icon-filter-slash:before {
  content: "\e9c4";
}
.freud-icon-filter:before {
  content: "\e9c5";
}
.freud-icon-fingerprint:before {
  content: "\e9c6";
}
.freud-icon-flag-fill:before {
  content: "\e9c7";
}
.freud-icon-flag:before {
  content: "\e9c8";
}
.freud-icon-folder-open:before {
  content: "\e9c9";
}
.freud-icon-folder:before {
  content: "\e9ca";
}
.freud-icon-folders:before {
  content: "\e9cb";
}
.freud-icon-forward:before {
  content: "\e9cc";
}
.freud-icon-ghost:before {
  content: "\e9cd";
}
.freud-icon-gift:before {
  content: "\e9ce";
}
.freud-icon-globe:before {
  content: "\e9cf";
}
.freud-icon-grid-dots:before {
  content: "\e9d0";
}
.freud-icon-hand-rock:before {
  content: "\e9d1";
}
.freud-icon-hashtag:before {
  content: "\e9d2";
}
.freud-icon-headphones-off:before {
  content: "\e9d3";
}
.freud-icon-headphones:before {
  content: "\e9d4";
}
.freud-icon-heart-fill:before {
  content: "\e9d5";
}
.freud-icon-heart:before {
  content: "\e9d6";
}
.freud-icon-help:before {
  content: "\e9d7";
}
.freud-icon-history:before {
  content: "\e9d8";
}
.freud-icon-home:before {
  content: "\e9d9";
}
.freud-icon-hourglass:before {
  content: "\e9da";
}
.freud-icon-id-card:before {
  content: "\e9db";
}
.freud-icon-image:before {
  content: "\e9dc";
}
.freud-icon-images:before {
  content: "\e9dd";
}
.freud-icon-inbox:before {
  content: "\e9de";
}
.freud-icon-infinity:before {
  content: "\e9df";
}
.freud-icon-info-circle:before {
  content: "\e9e0";
}
.freud-icon-info:before {
  content: "\e9e1";
}
.freud-icon-instagram:before {
  content: "\e9e2";
}
.freud-icon-key:before {
  content: "\e9e3";
}
.freud-icon-language:before {
  content: "\e9e4";
}
.freud-icon-layout-grid-add:before {
  content: "\e9e5";
}
.freud-icon-layout-grid:before {
  content: "\e9e6";
}
.freud-icon-layout-sidebar:before {
  content: "\e9e7";
}
.freud-icon-license:before {
  content: "\e9e8";
}
.freud-icon-link:before {
  content: "\e9e9";
}
.freud-icon-list-check:before {
  content: "\e9ea";
}
.freud-icon-list-search:before {
  content: "\e9eb";
}
.freud-icon-list:before {
  content: "\e9ec";
}
.freud-icon-live-view:before {
  content: "\e9ed";
}
.freud-icon-loader:before {
  content: "\e9ee";
}
.freud-icon-location:before {
  content: "\e9ef";
}
.freud-icon-lock-off:before {
  content: "\e9f0";
}
.freud-icon-lock-open:before {
  content: "\e9f1";
}
.freud-icon-lock:before {
  content: "\e9f2";
}
.freud-icon-login:before {
  content: "\e9f3";
}
.freud-icon-logout:before {
  content: "\e9f4";
}
.freud-icon-mail-opened:before {
  content: "\e9f5";
}
.freud-icon-mail:before {
  content: "\e9f6";
}
.freud-icon-map-marker:before {
  content: "\e9f7";
}
.freud-icon-map-pin-off:before {
  content: "\e9f8";
}
.freud-icon-map-pin:before {
  content: "\e9f9";
}
.freud-icon-map:before {
  content: "\e9fa";
}
.freud-icon-meditation:before {
  content: "\e9fb";
}
.freud-icon-megaphone:before {
  content: "\e9fc";
}
.freud-icon-menu:before {
  content: "\e9fd";
}
.freud-icon-message-circle-off:before {
  content: "\e9fe";
}
.freud-icon-message-circle:before {
  content: "\e9ff";
}
.freud-icon-messages:before {
  content: "\ea00";
}
.freud-icon-microphone-off:before {
  content: "\ea01";
}
.freud-icon-microphone:before {
  content: "\ea02";
}
.freud-icon-minus-circle:before {
  content: "\ea03";
}
.freud-icon-minus:before {
  content: "\ea04";
}
.freud-icon-mobile:before {
  content: "\ea05";
}
.freud-icon-money-bill:before {
  content: "\ea06";
}
.freud-icon-mood-confuzed:before {
  content: "\ea07";
}
.freud-icon-mood-crazy-happy:before {
  content: "\ea08";
}
.freud-icon-mood-empty:before {
  content: "\ea09";
}
.freud-icon-mood-happy:before {
  content: "\ea0a";
}
.freud-icon-mood-sad:before {
  content: "\ea0b";
}
.freud-icon-mood-smile:before {
  content: "\ea0c";
}
.freud-icon-mood-suprised:before {
  content: "\ea0d";
}
.freud-icon-mood-tongue:before {
  content: "\ea0e";
}
.freud-icon-moon:before {
  content: "\ea0f";
}
.freud-icon-motorbike:before {
  content: "\ea10";
}
.freud-icon-movie:before {
  content: "\ea11";
}
.freud-icon-mug:before {
  content: "\ea12";
}
.freud-icon-music:before {
  content: "\ea13";
}
.freud-icon-palette:before {
  content: "\ea14";
}
.freud-icon-paperclip:before {
  content: "\ea15";
}
.freud-icon-pause-fill:before {
  content: "\ea16";
}
.freud-icon-pause:before {
  content: "\ea17";
}
.freud-icon-peace:before {
  content: "\ea18";
}
.freud-icon-pencil:before {
  content: "\ea19";
}
.freud-icon-percentage:before {
  content: "\ea1a";
}
.freud-icon-phone-off:before {
  content: "\ea1b";
}
.freud-icon-phone:before {
  content: "\ea1c";
}
.freud-icon-photo:before {
  content: "\ea1d";
}
.freud-icon-pill:before {
  content: "\ea1e";
}
.freud-icon-pills:before {
  content: "\ea1f";
}
.freud-icon-pin:before {
  content: "\ea20";
}
.freud-icon-pinned-off:before {
  content: "\ea21";
}
.freud-icon-pinned:before {
  content: "\ea22";
}
.freud-icon-pizza:before {
  content: "\ea23";
}
.freud-icon-plane:before {
  content: "\ea24";
}
.freud-icon-plant-2:before {
  content: "\ea25";
}
.freud-icon-plant:before {
  content: "\ea26";
}
.freud-icon-play-fill:before {
  content: "\ea27";
}
.freud-icon-play:before {
  content: "\ea28";
}
.freud-icon-player-pause:before {
  content: "\ea29";
}
.freud-icon-player-play:before {
  content: "\ea2a";
}
.freud-icon-playlist:before {
  content: "\ea2b";
}
.freud-icon-plus-circle:before {
  content: "\ea2c";
}
.freud-icon-plus:before {
  content: "\ea2d";
}
.freud-icon-pound:before {
  content: "\ea2e";
}
.freud-icon-power-off:before {
  content: "\ea2f";
}
.freud-icon-power:before {
  content: "\ea30";
}
.freud-icon-print:before {
  content: "\ea31";
}
.freud-icon-puzzle:before {
  content: "\ea32";
}
.freud-icon-qrcode:before {
  content: "\ea33";
}
.freud-icon-question-circle:before {
  content: "\ea34";
}
.freud-icon-question:before {
  content: "\ea35";
}
.freud-icon-receipt-2:before {
  content: "\ea36";
}
.freud-icon-receipt-off:before {
  content: "\ea37";
}
.freud-icon-receipt:before {
  content: "\ea38";
}
.freud-icon-refresh-2:before {
  content: "\ea39";
}
.freud-icon-refresh:before {
  content: "\ea3a";
}
.freud-icon-replay:before {
  content: "\ea3b";
}
.freud-icon-reply:before {
  content: "\ea3c";
}
.freud-icon-report-money:before {
  content: "\ea3d";
}
.freud-icon-report:before {
  content: "\ea3e";
}
.freud-icon-rocket:before {
  content: "\ea3f";
}
.freud-icon-rotate-clockwise:before {
  content: "\ea40";
}
.freud-icon-save:before {
  content: "\ea41";
}
.freud-icon-school:before {
  content: "\ea42";
}
.freud-icon-search-minus:before {
  content: "\ea43";
}
.freud-icon-search-plus:before {
  content: "\ea44";
}
.freud-icon-search:before {
  content: "\ea45";
}
.freud-icon-send:before {
  content: "\ea46";
}
.freud-icon-server:before {
  content: "\ea47";
}
.freud-icon-settings:before {
  content: "\ea48";
}
.freud-icon-share-alt:before {
  content: "\ea49";
}
.freud-icon-share:before {
  content: "\ea4a";
}
.freud-icon-shield-check:before {
  content: "\ea4b";
}
.freud-icon-shield:before {
  content: "\ea4c";
}
.freud-icon-shopping-bag:before {
  content: "\ea4d";
}
.freud-icon-shopping-cart:before {
  content: "\ea4e";
}
.freud-icon-sign-in:before {
  content: "\ea4f";
}
.freud-icon-sign-out:before {
  content: "\ea50";
}
.freud-icon-sitemap:before {
  content: "\ea51";
}
.freud-icon-sliders-h:before {
  content: "\ea52";
}
.freud-icon-sliders-v:before {
  content: "\ea53";
}
.freud-icon-snowflake:before {
  content: "\ea54";
}
.freud-icon-sort-alpha-alt-down:before {
  content: "\ea55";
}
.freud-icon-sort-alpha-alt-up:before {
  content: "\ea56";
}
.freud-icon-sort-alpha-down:before {
  content: "\ea57";
}
.freud-icon-sort-alpha-up:before {
  content: "\ea58";
}
.freud-icon-sort-alt-slash:before {
  content: "\ea59";
}
.freud-icon-sort-alt:before {
  content: "\ea5a";
}
.freud-icon-sort-amount-down-alt:before {
  content: "\ea5b";
}
.freud-icon-sort-amount-down:before {
  content: "\ea5c";
}
.freud-icon-sort-amount-up-alt:before {
  content: "\ea5d";
}
.freud-icon-sort-amount-up:before {
  content: "\ea5e";
}
.freud-icon-sort-down:before {
  content: "\ea5f";
}
.freud-icon-sort-numeric-alt-down:before {
  content: "\ea60";
}
.freud-icon-sort-numeric-alt-up:before {
  content: "\ea61";
}
.freud-icon-sort-numeric-down:before {
  content: "\ea62";
}
.freud-icon-sort-numeric-up:before {
  content: "\ea63";
}
.freud-icon-sort-up:before {
  content: "\ea64";
}
.freud-icon-sort:before {
  content: "\ea65";
}
.freud-icon-speakerphone:before {
  content: "\ea66";
}
.freud-icon-spinner:before {
  content: "\ea67";
}
.freud-icon-stack:before {
  content: "\ea68";
}
.freud-icon-star-fill:before {
  content: "\ea69";
}
.freud-icon-star-half:before {
  content: "\ea6a";
}
.freud-icon-star-off:before {
  content: "\ea6b";
}
.freud-icon-star:before {
  content: "\ea6c";
}
.freud-icon-step-backward-alt:before {
  content: "\ea6d";
}
.freud-icon-step-backward:before {
  content: "\ea6e";
}
.freud-icon-step-forward-alt:before {
  content: "\ea6f";
}
.freud-icon-step-forward:before {
  content: "\ea70";
}
.freud-icon-stop-circle:before {
  content: "\ea71";
}
.freud-icon-stop:before {
  content: "\ea72";
}
.freud-icon-stopwatch:before {
  content: "\ea73";
}
.freud-icon-sun:before {
  content: "\ea74";
}
.freud-icon-switch-vertical:before {
  content: "\ea75";
}
.freud-icon-sync:before {
  content: "\ea76";
}
.freud-icon-table:before {
  content: "\ea77";
}
.freud-icon-tablet:before {
  content: "\ea78";
}
.freud-icon-tag:before {
  content: "\ea79";
}
.freud-icon-tags:before {
  content: "\ea7a";
}
.freud-icon-th-large:before {
  content: "\ea7b";
}
.freud-icon-thumb-down:before {
  content: "\ea7c";
}
.freud-icon-thumb-up:before {
  content: "\ea7d";
}
.freud-icon-thumbs-down-fill:before {
  content: "\ea7e";
}
.freud-icon-thumbs-down:before {
  content: "\ea7f";
}
.freud-icon-thumbs-up-fill:before {
  content: "\ea80";
}
.freud-icon-thumbs-up:before {
  content: "\ea81";
}
.freud-icon-ticket:before {
  content: "\ea82";
}
.freud-icon-times-circle:before {
  content: "\ea83";
}
.freud-icon-times:before {
  content: "\ea84";
}
.freud-icon-trash-off:before {
  content: "\ea85";
}
.freud-icon-trash:before {
  content: "\ea86";
}
.freud-icon-trophy:before {
  content: "\ea87";
}
.freud-icon-truck:before {
  content: "\ea88";
}
.freud-icon-undo:before {
  content: "\ea89";
}
.freud-icon-unlink:before {
  content: "\ea8a";
}
.freud-icon-unlock:before {
  content: "\ea8b";
}
.freud-icon-upload:before {
  content: "\ea8c";
}
.freud-icon-urgent:before {
  content: "\ea8d";
}
.freud-icon-user-circle:before {
  content: "\ea8e";
}
.freud-icon-user-edit:before {
  content: "\ea8f";
}
.freud-icon-user-minus:before {
  content: "\ea90";
}
.freud-icon-user-plus:before {
  content: "\ea91";
}
.freud-icon-user:before {
  content: "\ea92";
}
.freud-icon-users:before {
  content: "\ea93";
}
.freud-icon-vaccine:before {
  content: "\ea94";
}
.freud-icon-verificated:before {
  content: "\ea95";
}
.freud-icon-video-off:before {
  content: "\ea96";
}
.freud-icon-video:before {
  content: "\ea97";
}
.freud-icon-volume-2:before {
  content: "\ea98";
}
.freud-icon-volume-3:before {
  content: "\ea99";
}
.freud-icon-volume-down:before {
  content: "\ea9a";
}
.freud-icon-volume-off:before {
  content: "\ea9b";
}
.freud-icon-volume-up:before {
  content: "\ea9c";
}
.freud-icon-volume:before {
  content: "\ea9d";
}
.freud-icon-wallet:before {
  content: "\ea9e";
}
.freud-icon-whatsapp:before {
  content: "\ea9f";
}
.freud-icon-wifi-off:before {
  content: "\eaa0";
}
.freud-icon-wifi:before {
  content: "\eaa1";
}
.freud-icon-window-maximize:before {
  content: "\eaa2";
}
.freud-icon-window-minimize:before {
  content: "\eaa3";
}
.freud-icon-world:before {
  content: "\eaa4";
}
.freud-icon-wrench:before {
  content: "\eaa5";
}
.freud-icon-x:before {
  content: "\eaa6";
}
.freud-icon-yin-yang:before {
  content: "\eaa7";
}
