@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-slide-menu {
  .p-slidemenu .p-menuitem-link .p-menuitem-text {
    color: $neutral-color-dark-03;
    @include typography($font-size-xs, $font-weight-regular, 16px);
  }
  .p-slidemenu {
    border-radius: $border-radius-md;
    box-shadow: $shadow-level-1;
  }
  .p-slidemenu .p-slidemenu-wrapper, .p-slidemenu .p-slidemenu-rootlist {
    width: 100% !important;
  }
  .p-slidemenu .p-menuitem-link:focus {
    box-shadow: unset;
  }
  .freud-icon {
    color: $neutral-color-dark-02;
    font-size: 14px;
  }
  .p-slidemenu .p-menuitem-link:not(.p-disabled):hover,
  .p-slidemenu .p-menuitem-link:not(.p-disabled):hover .freud-icon,
  .p-slidemenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon,
  .p-slidemenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: $brand-color-pure;
    background-color: $brand-color-02;
  }
}
