@import '../../../../../../../tokens/dist/style/scss/variables';

.freud-rating {
  .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover,
  .p-rating .p-rating-icon.freud-icon-star-fill {
    color: $feedback-color-warning-pure;
  }
  .p-rating .p-rating-icon:not(.freud-icon-star-fill) {
    color: $neutral-color-dark-01;
  }

  .p-rating .p-rating-icon {
    font-size: 16px;
  }
}
.freud-rating.freud-rating-bgcolor {
  .p-rating .p-rating-icon:not(.freud-icon-star-fill) {
    color: $neutral-color-dark-01;
  }
}

.freud-rating .p-rating .p-rating-icon:focus {
  box-shadow: unset;
}
