@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-split-button:not(.freud-split-bgcolor) {
  .p-button {
    background-color: $brand-color-pure;
    border-color: $brand-color-pure;
    @include typography($font-size-xs, $font-weight-semibold, auto);
  }
  .p-button:focus {
    box-shadow: unset;
  }
}

.freud-split-button.freud-split-bgcolor {
  .p-button {
    background-color: $neutral-color-white;
    border-color: $neutral-color-white;
    @include typography($font-size-xs, $font-weight-semibold, auto);
    color: $brand-color-pure;
  }
  .p-button:focus {
    box-shadow: unset;
  }
}

.freud-split-button {
  .p-menu .p-menuitem-link:hover,
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    background-color: $brand-color-01;
    color: $brand-color-pure;
  }
  .p-splitbutton-defaultbutton {
    border-radius: $border-radius-md 0 0 $border-radius-md;
  }
  .p-splitbutton-menubutton {
    border-radius: 0 $border-radius-md $border-radius-md 0;
  }

  .p-button-icon {
    font-size: 14px;
  }

  .p-menu .p-menuitem-link .p-menuitem-icon {
    font-size: 14px;
    color: $neutral-color-dark-02;
  }

  .p-menu a.p-menuitem-link .p-menuitem-text {
    color: $neutral-color-dark-03;
    @include typography($font-size-xs, $font-weight-regular, 24px);
  }
  .p-menuitem-link:focus {
    box-shadow: 0 0 0 1px $brand-color-01;
    background-color: $brand-color-01;
  }
  .p-menu-overlay {
    border-radius: $border-radius-md;
    box-shadow: $shadow-level-3;
  }
}
