@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-badge span.p-badge {
    background-color: $brand-color-pure;
    font-weight: $font-weight-bold;
    font-family: $font-family-base;
    display: inline-block;
}

.freud-badge {
  .freud-color-success span {
    background-color: $feedback-color-positive-04;
  }
  .freud-color-info span {
    background-color: $feedback-color-neutral-pure;
  }
  .freud-color-warning span {
    background-color: $feedback-color-warning-pure;
    color: $neutral-color-black;
  }
  .freud-color-error span {
    background-color: $feedback-color-negative-04;
  }
  .freud-color-actived span {
    background-color: $complementary-color-like-03;
  }
}

.freud-badge:not(.size-large) span.p-badge {
  border-radius: $border-radius-md;
  min-width: 16px;
  height: 16px;
  line-height: $font-size-xs;
  @include typography($font-size-xxxs, $font-weight-semibold, auto);
}
.freud-badge.size-large span.p-badge {
  border-radius: 12px;
  @include typography($font-size-xs, $font-weight-semibold, auto);
  display: inline-block;
}
