.freud-loader {
  display: inline-block;

  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(90deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    75% {
      transform: rotateZ(270deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  img {
    animation: svg-animation 1.6s linear infinite;
  }
}
