// TODO: Verificar o import
@import '../../../../../../tokens/dist/style/scss/_variables.scss';

.freud-split-button:not(.freud-split-bgcolor) {
  .p-button {
    background-color: $brand-color-pure;
    border-color: $brand-color-pure;
    font-weight: $font-weight-bold;
  }
  .p-button:focus {
    box-shadow: unset;
  }
}

.freud-split-button.freud-split-bgcolor {
  .p-button {
    background-color: $neutral-color-white;
    border-color: $neutral-color-white;
    font-weight: $font-weight-bold;
    color: $brand-color-pure;
  }
  .p-button:focus {
    box-shadow: unset;
  }
}

.freud-split-button {
  .p-menu .p-menuitem-link:hover {
    background-color: $neutral-color-light-02;
  }
  .p-splitbutton-defaultbutton {
    border-radius: $border-radius-md 0 0 $border-radius-md;
  }
  .p-splitbutton-menubutton {
    border-radius: 0 $border-radius-md $border-radius-md 0;
  }

  .p-menu a.p-menuitem-link .p-menuitem-text,
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
  .p-menu .p-menuitem-link .p-menuitem-icon {
    color: $neutral-color-dark-03;
  }
  .p-menuitem-link:focus {
    box-shadow: 0 0 0 1px $brand-color-01;
    background-color: $brand-color-01;
  }
  .p-menu-overlay {
    border-radius: $border-radius-md;
    box-shadow: $shadow-level-3;
  }
}
