@import '../../../../../../../tokens/dist/style/scss/variables';

.freud-tag {
  
  &-md {
    .p-tag  {
      padding: 3px $spacing-size-nano;
    }
    .p-tag-value {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xxxs;
      line-height: 18px;
    }
  }

  &-lg {
    .p-tag {
      padding: $spacing-size-nano $spacing-size-xxxs;
    }
    .p-tag-value {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
      line-height: 18px;
    }
  } 
  
}

.freud-tag:not(.outline) {

  .freud-tag-primary .p-tag {
    background-color: $brand-color-pure;
  }

  .freud-tag-success .p-tag {
    background-color: $feedback-color-positive-04;
  }
  .freud-tag-info .p-tag {
    background-color: $feedback-color-neutral-pure;
  }
  .freud-tag-warning .p-tag {
    background-color: $feedback-color-warning-pure;
    color: $neutral-color-black;
  }
  .freud-tag-error .p-tag {
    background-color: $feedback-color-negative-04;
  }
}

.freud-tag.outline {
  .p-tag {
    background-color: $neutral-color-white;
  }

  .freud-tag-primary .p-tag {
    border: 1px solid $brand-color-pure;
    color: $brand-color-pure;
  }

  .freud-tag-success .p-tag {
    border: 1px solid $feedback-color-positive-04;
    color: $feedback-color-positive-04;
  }
  .freud-tag-info .p-tag {
    border: 1px solid $feedback-color-neutral-pure;
    color: $feedback-color-neutral-pure;
  }
  .freud-tag-warning .p-tag {
    border: 1px solid $feedback-color-warning-04;
    color: $feedback-color-warning-04;
  }
  .freud-tag-error .p-tag {
    border: 1px solid $feedback-color-negative-04;
    color: $feedback-color-negative-04;
  }
}
