@import '../../../../../../../tokens/dist/style/scss/variables';
@import '../../../../scss/typography';

.freud-paginator {
  .p-link:focus {
    box-shadow: unset;
  }
  .p-paginator .p-paginator-pages .p-paginator-page {
    @include typography($font-size-xs, $font-weight-regular, auto);
  }
  .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: $brand-color-02;
    color: $neutral-color-white;
    border-radius: 50%;
  }
}

.freud-paginator:not(.freud-bgcolor) {
  .p-paginator .p-paginator-pages .p-paginator-page {
    color: $neutral-color-dark-02;
  }
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-last {
    color: $neutral-color-black;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: transparent;
    @include typography($font-size-xs, $font-weight-semibold, auto);
    color: $brand-color-pure;
  }
}

.freud-paginator.freud-bgcolor {
  .p-paginator {
    background-color: transparent;
  }

  .p-paginator .p-paginator-pages .p-paginator-page {
    color: $neutral-color-white;
  }
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    color: $neutral-color-white;
  }
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-last {
    color: $neutral-color-white;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: transparent;
    @include typography($font-size-xs, $font-weight-semibold, auto);
    color: $brand-color-03;
  }
}
